<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.akshay.exoplayerexample">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:configChanges="orientation|screenSize"
      android:exported="true"
      android:name=".ui.BasicMediaPlayerWithPlaylist">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.BasicAudioPlayer"/>
    <activity android:name=".ui.BasicVideoPlayerWithDashMediaSource"/>
    <activity android:name=".ui.BasicAudioPlayerWithHLSMediaSource"/>
    <activity android:name=".ui.BasicAudioPlayerWithListener"/>
    <activity android:name=".ui.BasicAudioPlayerWithProgressiveMediaSource"/>
    <activity android:name=".ui.BasicVideoPlayerWithSmoothStreaming"/>
    <activity android:name=".ui.BasicAudioPlayerWithNotification"/>
    <service android:name=".util.AudioPlayerService" />
  </application>

</manifest>